

$cor-header: #182C61;
$cor-background: #f5f6fa;
$cor-button: #44bd32;
$cor-button-hover: #4cd137;
$cor-texto: #fff;
$cor-produtos-item-img: #ddd;


$font-family: 'Roboto', sans-serif;


$max-width: 1024px;


$breakpoint-medium: 1024px;
$breakpoint-small: 768px;
